$color-white: #ffffff;
$color-dark: #222f3e;
$gradient-background: linear-gradient(0deg, rgba(0,11,23,1) 0%, rgba(0,26,52,1) 100%);


$color-primary: #ff9f43;
$color-secondary: #218c74;
$color-success: #01916d;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Raleway', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;


