@import '../../../styles/settings.scss';

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 105;

    .textSection{
        display: flex;
        margin: 0 0 130px 40px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        font-family: $font-header;
        div{
            animation: textMove 1.5s ease;
        }

        h1{
            margin:0;
            font-size: 80px;
            z-index: 100;
        }

        .firstLine{
            position: relative;
        }

        span{
            color: $color-secondary;
            transition: all 0.6s ;
        }

        // hover text section
        //USER-FRENDLY

        .userFrendly:after{
            content: 'user-Friendly';
            position: absolute;
            transform: translate(-10px, -30px);
            color: $color-white;
            font-size: 30px;
            opacity: 0;
            transition: all 0.4s ;
        }
        .userFrendly:before{
            content:' ';
            position: absolute;
            width: 4.3px;
            height: 0;
            background-color: $color-secondary;
            transform: translate(36.2px, 15px);
            transition: all 0.4s ease-out;
            z-index: -1;
            visibility: hidden;

        }
        .userFrendly:hover{
            &:after{
                color:$color-secondary;
                opacity: 1;
            }
            &:before{
                visibility: visible;
                height: 30px;
                background-color: $color-white;

            }
            color: white;
        }

        //RESPONSIVE

        .responsive:after{
            content: 'responive';
            position: absolute;
            transform: translate(-22px, 120px);
            color: $color-white;
            font-size: 30px;
            opacity: 0;
            transition: all 0.4s ;
        }
        .responsive:before{
            content:' ';
            position: absolute;
            width: 4.3px;
            height: 0;
            background-color: $color-secondary;
            transform: translate(5.2px, 103px);
            transition: all 0.4s ease-out;
            z-index: -1;
            visibility: hidden;

        }
        .responsive:hover{
            &:after{
                color:$color-secondary;
                opacity: 1;
            }
            &:before{
                visibility: visible;
                height: 30px;
                background-color: $color-white;

            }
            color: $color-white;
        }

        //MODERN

        .modern:after{
            content: 'modern';
            position: absolute;
            transform: translate(-70px, 120px);
            color: $color-white;
            font-size: 30px;
            opacity: 0;
            transition: all 0.4s ;
        }
        .modern:before{
            content:' ';
            position: absolute;
            width: 4.3px;
            height: 0;
            background-color: $color-secondary;
            transform: translate(5.2px, 103px);
            transition: all 0.4s ease-out;
            z-index: -1;
            visibility: hidden;

        }
        .modern:hover{
            &:after{
                color:$color-secondary;
                opacity: 1;
            }
            &:before{
                height: 30px;
                visibility: visible;
                background-color: $color-white;

            }
            color: $color-white;
        }

        // HIGH-QUALITY

        .hightQuality:after{
            content: 'high-Quality';
            position: absolute;
            transform: translate(-40px, -30px);
            color: $color-white;
            font-size: 30px;
            opacity: 0;
            transition: all 0.4s ;
        }
        .hightQuality:before{
            content:' ';
            position: absolute;
            width: 4.3px;
            height: 0;
            background-color: $color-secondary;
            transform: translate(5.2px, 12px);
            transition: all 0.4s ease-out;
            z-index: -1;
            visibility: hidden;

        }
        .hightQuality:hover{
            &:after{
                color: $color-secondary;
                opacity: 1;
            }
            &:before{
                height: 20px;
                visibility: visible;
                background-color: $color-white;

            }
            color: $color-white;
        }
    }

    .iconsSection{
        display: flex;
        padding: 0 0 110px 40px;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;

        :nth-child(1) {
            animation: iconMove 1.5s ease;
            svg:hover{
                fill: #959da5;
                height: 55px;
                width: 55px;
            }
        }

        :nth-child(2) {
            animation: iconMove 1.5s ease;
            svg:hover{
                fill: #959da5;
                height: 55px;
                width: 55px;
            }
        }

        :nth-child(3) svg:hover{
            fill: #4267B2;
            height: 55px;
            width: 55px;
        }

        a{
            margin-bottom: 20px;
        }

        svg{
            transition: all 0.5s;
        }
    }
}

@keyframes iconMove {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes textMove {
    from {
        transform: translate(-20%,0);
        opacity:0;
    }
    to {
        transform: translate(0,0);
        opacity: 1;
    }
}

