
.container{
  // position: relative;
  // width: 90vw;
  // height: 90vh;
  // display: flex;
  // justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  margin: auto;
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;

.moon {
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: 100;
    // align-items: flex-end;
    // // overflow: hidden;
    // margin: 10rem 0 0 80rem;
    // width: 39.350180505%;
    // height: 39.350180505%;
    // filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }

// FRONT CLOUD
  .cloudOneFront {
    position: absolute;
    left: 23%;
    top: 55%;
    width: 25vw;
    height: 25vh;
    z-index: 101;
  }

  .cloudTwoFront {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 25vw;
    height: 25vh;
    z-index: 101;
  }
  .cloudThreeFront {
    position: absolute;
    left: 43%;
    top: 25%;
    z-index: 101;
  }
// BACK CLOUD
  .cloudOneBack {
    position: absolute;
    width: 25vw;
    height: 25vh;
    right: 49%;
    top: 15%;
    z-index: 99;
  }
  .cloudTwoBack {
    position: absolute;
    width: 25vw;
    height: 25vh;
    right: 23%;
    top: 15%;
    z-index: 99;
  }
}

  .stars {
    position: absolute;
    width: 90vw;
    height:90vh;
    overflow: hidden;
    z-index: 98;
    animation: glowStars 3s ease-in-out infinite alternate;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
  }

  @keyframes glowStars {
    from {
      filter: drop-shadow(0 0 3px rgb(255, 255, 255));
    }
    to {
      filter: drop-shadow(0 0 1px rgb(255, 255, 255));
    }
  }

  .containertwo{
   width: 100vw;
   height: 100vh;

  }