
.container{
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translate(0,-8vh);
  left: 20%;
  margin: auto;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

.moon {
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: 100;
  }

// FRONT CLOUD
  .cloudOneFront {
    position: absolute;
    left: 23%;
    top: 55%;
    width: 25vw;
    height: 25vh;
    z-index: 101;
  }

  .cloudTwoFront {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 25vw;
    height: 25vh;
    z-index: 101;
  }
  .cloudThreeFront {
    position: absolute;
    left: 43%;
    top: 25%;
    z-index: 101;
  }
// BACK CLOUD
  .cloudOneBack {
    position: absolute;
    width: 25vw;
    height: 25vh;
    right: 49%;
    top: 15%;
    z-index: 99;
  }
  .cloudTwoBack {
    position: absolute;
    width: 25vw;
    height: 25vh;
    right: 23%;
    top: 15%;
    z-index: 99;
  }
}

  .stars {
    position: absolute;
    width: 90%;
    height:90%;
    overflow: hidden;
    z-index: 98;
    animation: glowStars 3s ease-in-out infinite alternate;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
  }

  @keyframes glowStars {
    from {
      filter: drop-shadow(0 0 3px rgb(255, 255, 255));
    }
    to {
      filter: drop-shadow(0 0 1px rgb(255, 255, 255));
    }
  }


  @media only screen and (max-width: 1024px) {
    .moon {
      width: 30vw !important;
      height: 30vh !important;
    }

    // FRONT CLOUD
    .cloudOneFront {
      left: 23% !important;
      top: 45% !important;
    }

    .cloudTwoFront {
      left: 50% !important;
      top: 40% !important;
    }
    .cloudThreeFront {
      left: 43% !important;
      top: 25% !important;

    }
  // BACK CLOUD
    .cloudOneBack {
      right: 49% !important;
      top: 25% !important;
    }
    .cloudTwoBack {

      right: 23% !important;
      top: 25% !important;

    }
    .container {
      top: -10%;
      left: 10%;
      margin: 0;
    }
}
@media only screen and (max-width: 576px) {

  .container{
    display: none;
  }
}
