@import '../../../styles/settings.scss';

.Marg {
    margin: 20px;

}
.AboutMe {
    display: flex;
    justify-content: flex-end;
}

.Name {
    display: flex;
}

.component{
    z-index: 110;
    position: sticky;
}