@import '../../../styles/settings.scss';

.marg {
    margin: 20px;
}

.aboutMe {
    display: flex;
    justify-content: flex-end;
}

.name {
    display: flex;
}

.component{
    z-index: 110;
    position: sticky;
}