@import '../../../styles/settings.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:nth-child(1){
        margin-top: 20px;
    }

    .box {
        border-radius: 4vh;
        padding: 20px;
        margin: 20px;
        width: 80%;
        background-color: #E6E6E6;
        display: flex;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        border-bottom: 4px solid ;
        border-color: $color-secondary;

        // &::after{
        //     content: ' ';
        //     border-radius:100vh;
        //     border-bottom: 2px solid ;
        //     position: absolute;
        //     height: inherit;
        //     width: inherit;
        //     transform: translate(-15px,-37px);
        // }

        .boxText {
            margin-left: 10px;
            flex: 75%;
            color: black;
            a{
                font-weight: bolder;
                color: black;
                p{
                    transition: .5s ease;
                }

                p:hover {
                    color: $color-secondary;
                }
            }
            .title {
                font-weight: bold;
                margin: 0;

            }
        }
        // Box image section
        .boxImage {
            flex: 25%;
            border-radius: 10%;
            width: 100%;
            transition: .5s ease;
            background-size: cover;
        }
        .pizza{
            background-image: url('../../../images/mamma-mia2.jpg');
        }
        .login{
            background-image: url('../../../images/Login-interface.jpg');
        }
        .shop{
            background-image: url('../../../images/shop.jpg');
        }
        .travel{
            background-image: url('../../../images/travels.jpg');
        }
        .perzynski{
            background-image: url('../../../images/portfolio.jpg');
        }

        .boxImageSecond{
            margin-left: 10px;
            order: 2;
            flex: 25%;
            border-radius: 10%;
            width: 100%;
            transition: .5s ease;
            background-size: cover;
        }

        .boxOverlayText{
            transform: rotate(40deg);
            margin: 0;
            padding: 25% 0 0 35%;
            font-weight: bolder;
            font-size: 40px;
        }

        .boxOverlay{
            flex: 25%;
            border-radius: 10%;
            height: 100%;
            background-color: black;
            transition: .5s ease;
            opacity: 0;
            background-size: cover;
        }

        div:hover{
            border-radius: 15%;
            .boxOverlay{
                border-radius: 15%;
                opacity: 0.3;
            }
        }
    }

    .first{
        animation: boxMoveFirst 1.5s ease ;

    }

    .second {
        animation: boxMoveSecond 1.5s ease ;
    }
}

@keyframes boxMoveFirst {
    from {transform: translate(10%);
    opacity: 0.6;}
    to {transform: translate(0);
    opacity: 1;}
  }
@keyframes boxMoveSecond {
    from {transform: translate(-10%);
    opacity: 0.6;}
    to {transform: translate(0);
    opacity: 1;}
}

