@import '../../../styles/settings.scss';


.container{
  justify-content: flex-end;
  display: flex;
  .moon {
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin-top: 20vh;
    z-index: 100;
  }
  .cloud {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-top: 20vh;
    z-index: 99;
  }
  .stars {
    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 98;
  }
}