@import '../../../styles/settings.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    &:nth-child(1){
        margin-top: 100px;
    }

    .stars{
        position:absolute;
        top: 0;
        z-index: -1;
        width: 80vw;
        height: 80vh;
        animation: starsRising 3s ease;
    }

    .box {
        border-radius: 4vh;
        padding: 20px;
        margin: 20px;
        width: 30%;
        background-color: #E6E6E6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        border-bottom: 4px solid ;
        border-color: $color-secondary;

        .title {
            color: black;
            font-weight: bold;
            flex: 100%;
            margin: 0;

        }
        .iconContainer {
            position: relative;
            flex: 30%;
            color: black;
            margin-bottom: 23px;
            font-weight: bold;
        }
        .icon{
            max-width: 50px;
            max-height: 50px;
        }
        .boxText {
            margin-left: 10px;
            color: black;
            flex: 75%;

            a{
                font-weight: bolder;
                color: black;
                p{
                    transition: .5s ease;
                }

                p:hover {
                    color: $color-secondary;
                }
            }

        }
    }

    .first{
        animation: boxMoveFirst 1.5s ease;
    }

    .second {
        animation: boxMoveSecond 1.5s ease ;
        :nth-child(2){
            &::after{
                content:'HTML';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(3){
            &::after{
                content:'CSS';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(4){
            &::after{
                content:'JavaScript';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(5){
            &::after{
                content:'Boostrap';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(6){
            &::after{
                content:'React & Redux';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(7){
            &::after{
                content:'Sass';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(8){
            &::after{
                content:'Photoshop';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(9){
            &::after{
                content:'Git';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
        :nth-child(10){
            &::after{
                content:'Material-UI';
                position: absolute;
                transform: translate(-45px, 48px);
            }
        }
    }

    .third {
        width: 70%;
        animation: boxMoveThird 1.5s ease ;
    }
}

@keyframes boxMoveFirst {
    from {transform: translate(10%);
    opacity: 0.6;}
    to {transform: translate(0);
    opacity: 1;}
  }
@keyframes boxMoveSecond {
    from {transform: translate(-10%);
    opacity: 0.6;}
    to {transform: translate(0);
    opacity: 1;}
}

@keyframes boxMoveThird {
    from {transform: translate(0, 10%);
    opacity: 0.6;}
    to {transform: translate(0);
    opacity: 1;}
}

@keyframes starsRising {
    from {
        opacity: 0;}
    to {
        opacity: 1;}
}


@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .box{
        width: 90% !important;
    }
}
